body {
    background: linear-gradient(#f1fbff , #06cee9);
    margin: 0;
    font-family: 'Muli', sans-serif;
    color: #192b50;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.centercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 300px);
    margin-bottom: 80px;
}

.calcularprecio{
    background-color: #FFAF02;
    border: 2px solid #192b50;
    border-radius: 40px;
    color: #192b50;
    padding: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    margin: 30px;
}

.calcularprecio__title{
    text-align: center;
}

.from{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
}

.Input{
    background-color: transparent;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 2px solid #192b50;
    color: #192b50;
    font-family: 'Muli', sans-serif;
    margin-bottom: 5px;
    padding: 0px ;
    outline: none;
    height: 50px;
}

.label{
    text-align: center;
}

.button {
    background-color: #ff130285;
    border: none;
    border-radius: 25px;
    color: #192b50;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

.result{
    height: 20px;
}